 .popup {
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     overflow: auto;
     background-color: rgba(0, 0, 0, 0.4);
     display: none;
 }

 .popup-content {
     background-color: white;
     margin: 10% auto;
     padding: 20px;
     border: 1px solid #888888;
     width: 30%;
     font-weight: bolder;
 }

 .popup-content button {
     display: block;
     margin: 0 auto;
 }
  .popup1 {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
      display: none;
  }

  .popup-content1 {
      background-color: white;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888888;
      width: 30%;
      font-weight: bolder;
  }

  .popup-content1 button {
      display: block;
      margin: 0 auto;
  }

  .popup2 {
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
      display: none;
  }

  .popup-content2 {
      background-color: white;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888888;
      width: 30%;
      font-weight: bolder;
  }

  .popup-content2 button {
      display: block;
      margin: 0 auto;
  }

  .popup3{
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.4);
      display: none;
  }

  .popup-content3 {
      background-color: white;
      margin: 10% auto;
      padding: 20px;
      border: 1px solid #888888;
      width: 30%;
      font-weight: bolder;
  }

  .popup-content3 button {
      display: block;
      margin: 0 auto;
  }

 .show {
     display: block;
 }

 .nav{
    display: flex;
 }
 .mid{
    display: flex;
 }

 .box{
    margin-left: 5%;
 }

 #logout{
    margin-left: 80%;
    height: 35%;
 }

 #income_data{
    margin-left: 10%;
    align-content: flex-start;
 }

 #expense_data{
    margin-left: 50%;
    align-content: flex-end;
 }

 .entry{
    padding: 10px;
 }